BOT_TOKEN = 11111
TENOR_API_KEY = 11111

PATH_TO_API = https://localhost:1111/api/

COMMAND_INTERACTIONS_WEBHOOK = https://discord.com/api/webhooks/11111
MESSAGE_WEBHOOK = https://discord.com/api/webhooks/22222
TICKET_WEBHOOK = https://discord.com/api/webhooks/33333
ELSE_WEBHOOK = https://discord.com/api/webhooks/44444